// src/assets/modal.scss

@use "sass:color";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 650%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  @include fade-in(0.5s);
}

.modal-content {
  background: linear-gradient(to bottom, #66D2CE, #1B4D3E);
  padding: 20px;
  border-radius: 4px;
  width: 30%;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid $primary-color;
    border-radius: 50px;
    background-color: $primary-color;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: color.adjust($primary-color, $lightness: -10%);
    }
  }
}

.playlist-item-create-item {
  color: #296e8d;
  font-weight: bold;
  align-items: center;
  background: #cef2ed;
  border: 1px solid #e0e0e0;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  transition: background 0.3s;

  &:hover {
    background: #424242;
  }

  .song-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .song-artist {
    font-size: 1rem;
    color: #555;
  }
}
