// src/assets/_mixins.scss

@mixin fade-in($duration: 0.5s, $easing: ease-in-out) {
  animation: fadeIn $duration $easing;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
