// src/assets/_variables.scss

// Define the primary color and other color
$primary-color: #1db954; // Spotify 风格绿色
$background-color: #121212; // 深色背景
$text-color: #ffffff; // 白色文字

// 定义响应式断点
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
