// src/assets/_variables.scss

// Define the primary color and other color
$primary-color: #1db954; // Green
$background-color: #121212; // Dark
$text-color: #ffffff; // Pure Write

// 定义响应式断点
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
