// src/assets/mainarea.scss
@use "./_variables.scss" as *;

.main-area {
  flex: 1;
  padding: 1rem;
  background-color: $background-color; // dark
  color: $text-color;

  .search-section {
    margin-bottom: 2rem;

    input[type="text"] {
      padding: 0.5rem;
      border: 2px solid #ccc;
      border-radius: 50px;
      width: 70%;
      margin-right: 1rem;
    }

    button {
      padding: 0.5rem 1rem;
      background-color: $primary-color;
      border: 2px solid $primary-color;
      border-radius: 50px;
      color: $text-color;
      cursor: pointer;
    }
  }

  .recommendation-section {
    margin-bottom: 2rem;

    button {
      padding: 0.5rem 1rem;
      margin-right: 1rem;
      background-color: $primary-color;
      border: 2px solid $primary-color;
      border-radius: 50px;
      color: $text-color;
      cursor: pointer;
    }

    .hidden-file-input {
      position: absolute;
      left: -9999px;
      opacity: 0;
    }

    ul {
      margin-top: 1rem;

      li {
        margin-bottom: 0.5rem;
      }
    }
  }

  .song-list-section {
    h3 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      color: $primary-color; // 例如你的主题色
    }

    .song-list {
      list-style: none;
      padding: 0;

      .song-item {
        background: #121212;
        border: 1px solid #e0e0e0;
        padding: 0.75rem 1rem;
        border-radius: 8px;
        width: 79%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        transition: background 0.3s;

        &:hover {
          background: #424242;
        }

        .song-title {
          font-weight: bold;
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }

        .song-artist {
          font-size: 1rem;
          color: #555;
        }
      }
    }
  }

  .song-list-section {
    h3 {
      margin-bottom: 1rem;
    }

    ul {
      li {
        margin-bottom: 0.5rem;
      }
    }
  }
}
