// src/assets/sidebar.scss
@use "./_variables.scss" as *;

// 侧边栏组件样式
.sidebar {
  width: 250px;
  background-color: #282828;
  color: $text-color;
  padding: 1rem;
  position: relative;
  transform: translateX(-100%); // 初始隐藏
  transition: transform 0.3s ease-in-out; // 渐入动画

  &.visible {
    transform: translateX(0); // 显示时平移回来
  }

  .user-info {
    text-align: center;
    margin-bottom: 1rem;

    .avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: 0.5rem;
    }

    .username {
      font-size: 1.2rem;
    }
  }

  .menu {
    button {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      background-color: $primary-color;
      border: none;
      color: $text-color;
      cursor: pointer;
    }
  }
}
